<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a appHighlight class="navbar-brand" routerLink="/">Cake Gallery</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex">
          <input name='search' [(ngModel)]="searchtext" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button  (click)="search()" class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      
      <form class="d-flex">
        <!-- <input name='search' [(ngModel)]="searchtext" class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
        <button routerLink="/login" *ngIf="!isUserLoggedIn" class="btn btn-outline-success" type="submit">Login</button>
      </form>

      <div *ngIf="isUserLoggedIn" class="d-flex">
        <button (click)="logOut()" class="btn btn-outline-primary" type="submit">Logout</button>&nbsp;
        <button routerLink="/cart" class="btn btn-outline-success" type="submit">Cart</button>
      </div>
    </div>
</nav>